 <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">Zookeeper Cluster Monitor</a>
                </div>
                <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                            <li #if($cluster_flag)class="$cluster_flag"#end><a href="$root/cluster/list">Cluster</a></li>
                            <li #if($cluster_manager_flag)class="$cluster_manager_flag"#end><a href="$root/cluster/manager/createForm">Add Cluster</a></li>
                            <li class="dropdown $!path_data_flag" >
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Path Manager<b class="caret"></b></a>
                                 <ul class="dropdown-menu">
                                    <li><a href="$root/path/createOrUpdate">CreateOrUpdate</a></li>
                                    <li><a href="$root/path/get">Query</a></li>
                                    <li><a href="$root/path/deleteForm">Delete</a></li>
                                 </ul>
                            </li>
                      </ul>
                </div><!--/.nav-collapse -->
          </div>
    </div>
