 <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">Zookeeper Cluster Monitor</a>
                </div>
                <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                            <li #if($cluster_flag)class="$cluster_flag"#end><a href="$root/cluster/list">Cluster</a></li>
                            <li #if($cluster_manager_flag)class="$cluster_manager_flag"#end><a href="$root/cluster/manager/createForm">Create</a></li>
                            <!--li class="dropdown $!connection_flag" >
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connection<b class="caret"></b></a>
                                 <ul class="dropdown-menu">
                                    <li><a href="$root/connection/consumerConnection.do">ConsumerConnection</a></li>
                                    <li><a href="$root/connection/producerConnection.do">ProducerConnection</a></li>
                                 </ul>
                            </li-->
                      </ul>
                </div><!--/.nav-collapse -->
          </div>
    </div>
